* {
  box-sizing: content-box;
  padding: 0%;
  margin: 0%;
}

.header {
  font-family: 'BBH Hegarty', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(67, 67, 210);
  text-align: center;
  color: white;
  padding: 20px;
  height: 15px;
}

h1 {
  margin: 0px;
  font-size: x-large;
  height: 20px;
}

.banner-puppies {
  width: 100px;
  margin: 0%;
  margin-bottom: 10%;
}

.banner-puppies img {
  width: 1250px;
}

.container {
  margin: 10%;
  max-width: 33%;
  margin-bottom: 0%;
}

.three-puppies {
  display: flex;
  justify-content: space-around;
  max-width: 33%;
}

.missing-puppy {
  background-color: rgb(228, 112, 112);
  font-size: xx-large;
  font-weight: bold;
  margin: 0% 20%;
  padding: 50% 80%;
}
.more-puppies {
  font-family: 'BBH Hegarty', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  position: relative;
}

.two-puppies {
  display: flex;
  margin-bottom: 5%;
  margin-left: 10%;
}

.two-puppies .puppy-3 {
  margin-right: 5%;
}

.two-puppies .puppy-4 {
  margin-left: 5%;
}

.fotter {
  background-color: rgb(67, 67, 210);
  text-align: center;
  color: white;
  height: 70px;
  padding: 50px;
  font-size: xx-large;
  font-family: 'BBH Hegarty', sans-serif;
  font-weight: 400;
  font-style: normal;
}
