* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}

.header {
  /* font-family: 'BBH Hegarty', sans-serif; */
  font-weight: 400;
  font-style: normal;
  background-color: #085070;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  height: 15px;
}

h1 {
  font-size: 50px;
  height: 20px;
}

.banner-puppies img {
  width: 1265px;
}

.container {
  margin: 10%;
  max-width: 33%;
  margin-bottom: 0%;
}

.three-puppies {
  display: flex;
  max-width: 33%;
}

.missing-puppy {
  background-color: rgb(228, 112, 112);
  font-size: 50px;
  margin: 0% 20%;
  padding: 50% 80%;
  text-align: center;
  font-weight: bold;
}
.more-puppies {
  margin-top: 30px;
  margin-bottom: 30px;
  /* font-family: 'BBH Hegarty', sans-serif; */
  font-weight: bold;
  font-size: 40px;
}

.more-puppies-pharagrapgh p {
  text-align: center;
}
.two-puppies {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 5%;
  margin-left: 10%;
}

.fotter {
  background-color: #085070;
  text-align: center;
  color: white;
  height: 70px;
  padding: 50px;
  /* font-family: 'BBH Hegarty', sans-serif; */
}

.fotter p {
  font-size: 50px;
}
