* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.title,
.footer {
  background-color: #085070;
}

.title {
  padding: 10px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}

.footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* banner puppy */
.banner-puppies img {
  width: 485px;
}

/* two puppies */
.puppy-1 {
  margin: 6% 18%;
}

.missing-puppy {
  display: none;
}

.puppy-2 {
  margin: 6% 18%;
}

.more-puppies {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.puppy-3,
.puppy-4 {
  margin: 6% 20%;
}

.puppy-3 img {
  width: 300px;
}

.puppy-4 img {
  width: 300px;
}
/* ************ */
/* media query for banner and header*/
/* *********** */
@media screen and (min-width: 768px) {
  .title {
    padding-top: 10px;
    padding-bottom: 70px;
    height: 15px;
  }

  h1 {
    font-size: 50px;
    height: 20px;
  }

  .banner-puppies img {
    width: 1265px;
  }

  .container {
    margin: 5% 8%;
    max-width: 33%;
    margin-bottom: 0%;
  }

  .three-puppies {
    display: flex;
    max-width: 33%;
  }

  .missing-puppy {
    display: block;
    background-color: rgb(228, 112, 112);
    font-size: 50px;
    margin: 0% 20%;
    padding: 30% 50%;
    text-align: center;
    font-weight: bold;
  }
  .more-puppies {
    margin-top: 30px;
    font-weight: bold;
    font-size: 40px;
  }

  .more-puppies-pharagrapgh p {
    text-align: center;
  }
  .two-puppies {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    
  }

  .footer {
    padding: 50px;
  }

