/* add a
media query breakpoint at 768px and include the CSS styles
that you want to apply only when the screen size is greater
than 768px */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.title,
.footer {
  background-color: #085070;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}

.footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* banner puppy */
.banner-puppies img {
  width: 485px;
}

/* two puppies */
.puppy1 {
  background-image: url(../images/puppy-1.jpg);
  height: 310px;
  width: 600px;
  background-repeat: no-repeat;
  margin: 6% 20%;
}

.puppy2 {
  background-image: url(../images/puppy-2.jpg);
  height: 310px;
  width: 600px;
  background-repeat: no-repeat;
  margin: 6% 20%;
}

.more-puppies {
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: bold;
}

.puppy3 {
  background-image: url(../images/puppy-3.jpg);
  height: 510px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 6% 20%;
}

.puppy4 {
  background-image: url(../images/puppy-4.jpg);
  height: 510px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 6% 20%;
}
