/* add a
media query breakpoint at 768px and include the CSS styles
that you want to apply only when the screen size is greater
than 768px */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.title,
.footer {
  background-color: #085070;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
}

.footer {
  padding-bottom: 40px;
  padding-top: 40px;
}
