* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.title,
.footer {
  background-color: #085070;
  text-align: center;
  color: white;
}

.title {
  padding: 8px;
  height: 50px;
}

.footer {
  padding: 20px;
  height: 100px;
  font-size: 22px;
}

.puppy-1,
.puppy-2 {
  margin: auto 100px;
}

.missing-puppy {
  display: none;
}
