* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.header-conrainer {
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: black;
}
.header-conrainer li {
  display: inline;
  background-color: black;
  padding-right: 50px;
}

.header-conrainer a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  font-size: smaller;
  color: grey;
}

.header-conrainer a:hover {
  color: white;
  cursor: pointer;
}

.apple-logo img {
  height: 25px;
  margin-left: 90px;
}

.search-icon img {
  height: 20px;
  padding-right: 10px;
}

.cart-icon img {
  height: 20px;
}

.hero-section {
  padding-top: 2%;
  background-color: rgb(253, 252, 252);
  text-align: center;
}

.macbook {
  font-size: 60px;
  font-weight: bold;
}

.brightest {
  font-size: 45px;
}

.two-links li {
  display: inline;
  padding-right: 2%;
}

.two-links li a {
  text-decoration: none;
  color: rgb(50, 99, 195);
}

.two-links li a:hover {
  color: black;
}

.iphone11-pro-bg img {
  position: relative;
  height: 100vh;
  width: 100%;
}

.fixed-content {
  z-index: 1000;
  top: 760px;
  left: 350px;
  position: absolute;
  color: white;
}

.iphone-11 {
  font-size: 50px;
  font-weight: bold;
  padding-left: 80px;
  margin: 10px;
}

.the-pros {
  text-align: center;
  font-size: 30px;
}

.currency {
  color: grey;
  margin-top: 10px;
  font-size: large;
  padding-left: 150px;
}

.pro-links {
  margin-top: 10px;
  padding-left: 200px;
}

.iphone11-pro img {
  position: relative;
  width: 100%;
  height: 100vh;
}

.second-fixed-container {
  z-index: 1000;
  top: 1300px;
  left: 400px;
  position: absolute;
  color: rgb(10, 2, 2);
}

.iphone-11-2 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 70px;
  margin: 10px;
}

.the-right {
  text-align: center;
  font-size: xx-large;
}

.currencies {
  color: grey;
  margin-top: 10px;
  font-size: large;
  padding-left: 80px;
}

.thired-link {
  margin-top: 10px;
  padding-left: 130px;
}

.watch-and-card {
  display: flex;
  position: absolute;
}

.watch-and-card img {
  max-width: 50%;
  padding-left: 20px;
  padding-top: 15px;
  height: 100vh;
}

.watch-series5-logo img {
  top: 80px;
  left: 250px;
  position: relative;
}

.watch-series-text {
  top: 150px;
  position: relative;
}

.watch-prom p {
  padding-left: 15px;
}

.watch-link {
  margin-top: 10px;
  padding-left: 40px;
}

.apple-card-logo {
  padding: 0%;
  margin-top: 0%;
}

.apple-card-logo img {
  top: -12px;
  left: 850px;
  position: relative;
}

.on-watch-pharagraph {
  display: flex;
}

.on-card-pharagraph {
  position: relative;
}

.card-text {
  left: 800px;
  position: relative;
}

.apple-card {
  padding-left: 70px;
}

.card-link {
  margin-top: 30px;
  padding-left: 880px;
}

.tv-and-airpods-image {
  display: flex;
  position: absolute;
}

.tv-and-airpods-image img {
  max-width: 50%;
  padding: 10px;
  aspect-ratio: 1;
  margin-top: 250px;
}

.apple-tv-logo img {
  position: relative;
  top: 500px;
  left: 50px;
  width: 300px;
}

.tv-and-airpods-text img {
  width: 500px;
  left: 100px;
  top: 580px;
  position: relative;
}

.airpods-text {
  position: relative;
  top: 200px;
  left: 800px;
  width: 300px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.airpods-link {
  top: 200px;
  left: 800px;
  position: relative;
}

.link-on-apple-tv {
  position: relative;
  top: 500px;
  left: 250px;
}
