* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* navigation style */
.navigation {
  background-color: black;
  padding: 15px;
  text-align: center;
}

.navigation-links ul li {
  display: inline;
  margin-right: 60px;
}

.navigation-links ul li a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}

.navigation-links ul li img {
  height: 18px;
}
