* {
  padding: 0%;
  margin: 0%;
  box-sizing: content-box;
}

.header-conrainer ul li {
  display: inline;
  padding: 2% 5%;
  background-color: black;
}

.header-conrainer ul li a {
  text-decoration: none;
  color: white;
}

.apple-logo a {
  background-color: aliceblue;
}
