* {
  padding: 0%;
  margin: 0%;
  box-sizing: content-box;
}

body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.header-conrainer ul li {
  display: inline;
  padding: 2% 5%;
  background-color: black;
}

.header-conrainer ul li a {
  text-decoration: none;
  color: white;
}

.apple-logo a {
  background-color: aliceblue;
}

.hero-section {
  padding-top: 2%;
  background-color: rgb(249, 245, 245);
  text-align: center;
}

.hero-div {
}

.inch-model {
  padding: 1%;
}

.macbook {
  font-size: 40px;
  padding: 1%;
  font-weight: bold;
}

.brightest {
  font-size: 50px;
}

.two-links li {
  display: inline;
  padding: 2%;
}

.two-links li a {
  text-decoration: none;
  color: rgb(64, 64, 214);
}

.two-links li a:hover {
  color: black;
}

.iphone11-pro-bg img {
  width: 1270px;
  aspect-ratio: 2;
  position: relative;
}

.fixed-content {
  z-index: 1000;
  top: 800px;
  left: 350px;
  position: absolute;
  color: white;
}

.iphone-11 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 80px;
  margin: 10px;
}

.the-pros {
  text-align: center;
  font-size: xx-large;
}

.currency {
  color: grey;
  margin-top: 10px;
  font-size: large;
  padding-left: 150px;
}

.pro-links {
  margin-top: 10px;
  padding-left: 200px;
}

.iphone11-pro img {
  position: relative;
  aspect-ratio: 2;
}

.second-fixed-container {
  z-index: 1000;
  top: 1400px;
  left: 400px;
  position: absolute;
  color: rgb(10, 2, 2);
}

.iphone-11-2 {
  font-size: 60px;
  font-weight: bold;
  padding-left: 70px;
  margin: 10px;
}

.the-right {
  text-align: center;
  font-size: xx-large;
}

.currencies {
  color: grey;
  margin-top: 10px;
  font-size: large;
  padding-left: 80px;
}

.thired-link {
  margin-top: 10px;
  padding-left: 130px;
}
