* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

/* navigation style */
.navigation {
  background-color: black;
  padding: 15px;
  text-align: center;
}

.navigation-links ul li {
  display: inline;
  margin-right: 60px;
}

.navigation-links ul li a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}

.navigation-links ul li a:hover {
  color: white;
}

.navigation-links ul li img {
  height: 18px;
}

/* hero-section */
.hero-section {
  background-color: rgb(248, 250, 251);
}
.MacBook-img img {
  width: 900px;
  align-items: center;
  padding-left: 370px;
  padding-top: 30px;
}

.inch,
.MacBook,
.brightest,
.more-and-buy-links {
  text-align: center;
}

.more-and-buy-links ul li a {
  text-decoration: none;
  color: rgb(38, 77, 218);
}

.more-and-buy-links ul li a:hover {
  color: black;
}

.more-and-buy-links ul li {
  display: inline;
  padding: 20px;
  font-size: 20px;
}

.inch {
  font-size: 18px;
  padding-top: 10px;
}
.MacBook {
  font-size: 46px;
  font-weight: bold;
}

.brightest {
  font-size: 46px;
}

/* height and center for bachground images */
.heigt-and-center {
  background-position: center;
  height: 580px;
}

/* iphone 11 pro section */
.iphone-11-pro-container {
  background-image: url('../images/home/iphone11-pro-bg.jpg');
}

.iphone-11-pro,
.pro-texts,
.iphone-11-pro-currencies {
  text-align: center;
  color: white;
}

.iphone-11-pro {
  font-size: 60px;
  padding-top: 60px;
  font-weight: bold;
}

.pro-texts {
  font-size: 30px;
  padding: 10px;
}

.iphone-11-pro-currencies {
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
}

/* iphone 11 section */
.iphone-11-container {
  background-image: url('../images/home/iphone11-bg.jpg');
}

.iphone-11,
.right-amount-txt,
.iphone-11-currencies {
  text-align: center;
}

.iphone-11 {
  font-size: 60px;
  padding-top: 40px;
  font-weight: bold;
}

.right-amount-txt {
  font-size: 30px;
  padding: 10px;
}

.iphone-11-currencies {
  font-size: 20px;
  color: gray;
  margin-bottom: 20px;
}

/* watch and card section */
.watch-and-card-section {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.watch-section {
  background-image: url('../images/home/watch-series-5.jpg');
  width: 50%;
}

.card-section {
  background-image: url('../images/home/apple-card.jpg');
  width: 50%;
}

.retinal-display-text,
.never-seen-watch,
.daily-cash-txt {
  text-align: center;
  font-size: 20px;
}

.watch-logo img,
.card-logo img {
  padding-left: 230px;
  width: 65%;
  padding-top: 50px;
  padding-bottom: 24px;
}

.card-logo img {
  width: 75%;
}

.never-seen-watch,
.daily-cash-txt {
  padding-bottom: 15px;
}

/* tv and airpods section */
.tv-and-airpods-section {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.tv-section {
  background-image: url('../images/home/apple-tv-background.jpg');
  width: 50%;
}

.trailer a::after {
  font-family: 'FontAwesome';
  font-weight: 200;
  content: '\f144';
  padding-left: 5px;
}
.airpods-section {
  background-image: url('../images/home/air-pods.jpg');
  width: 50%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: bottom;
}

.tv-logo img {
  padding-top: 40px;
  padding-left: 250px;
}

.servant-logo img {
  padding-top: 190px;
  padding-left: 90px;
}

.trailer ul li {
  padding-top: 160px;
  padding-left: 260px;
}

.trailer ul li a {
  text-decoration: none;
  font-size: 20px;
}

.airpod-title,
.Magic {
  color: white;
  text-align: center;
}

.airpod-title {
  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

.Magic {
  font-size: 25px;
  padding-bottom: 20px;
}

/* section for macBook and iPad */
.macBook-and-ipad-section {
  display: flex;
  padding: 10px;
  gap: 10px;
  padding-top: 5px;
}

.macbook-section {
  background-image: url('../images/home/mac-laptop.jpg');
  width: 50%;
  background-repeat: no-repeat;
  background-color: rgb(248, 250, 251);
  background-position: bottom;
  background-size: 500px;
}

.ipad-section {
  background-image: url('../images/home/new-ipad.jpg');
  width: 50%;
}

.inch2,
.MacBook2,
.brightest2 {
  text-align: center;
}

.inch2 {
  font-size: 20px;
  padding-top: 35px;
}
.MacBook2 {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 5px;
}

.brightest2 {
  font-size: 25px;
  padding-bottom: 30px;
}

.ipad-img img {
  padding-top: 40px;
  padding-left: 250px;
  padding-bottom: 15px;
}

.ipad-text {
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
}

/* footer section */
.footer-section-container {
  background-color: #f5f5f7;
  padding-bottom: 35px;
}

.footer-paragraph {
  padding: 20px 150px 0px;
  color: gray;
}

.link-in-paragraph {
  color: black;
  text-decoration: none;
}

hr {
  margin: 150px;
  margin-top: 20px;
  color: gray;
  margin-bottom: 20px;
}

.Shop-and-Learn {
  margin-left: 150px;
}

.different-links-list {
  display: flex;
  gap: 65px;
}

.more-way-to-shop {
  margin-left: 150px;
  margin-top: 30px;
}

.copyright-section {
  display: flex;
  margin-left: 150px;
  gap: 50px;
}

.footer-links-terms ul,
.footer-country {
  display: flex;
  gap: 5px;
}

.Shop-and-Learn h3,
.Services h3,
.apple-store h3,
.Business h3,
.values h3 {
  font-size: 14px;
  color: rgb(60, 58, 58);
}

.Shop-and-Learn ul li a,
.Services ul li a,
.apple-store ul li a,
.Business ul li a,
.values ul li a,
.footer-links-terms ul li a {
  text-decoration: none;
  color: gray;
  gap: 10px;
}

.Shop-and-Learn ul li,
.Services ul li,
.apple-store ul li,
.Business ul li,
.values ul li,
.footer-links-terms ul li {
  list-style-type: none;
}

.Services ul,
.Services ul,
.apple-store ul,
.Business ul,
.values ul {
  margin-bottom: 20px;
}

.Shop-and-Learn ul li a:hover,
.Services ul li a:hover,
.apple-store ul li a:hover,
.Business ul li a:hover,
.values ul li a:hover,
.footer-links-terms ul li a:hover,
.footer-paragraph a:hover {
  text-decoration: underline;
}
